footer {
    border-top: 1px solid black;
    padding: 1rem 0;
    text-align: center;
}

a {
    text-decoration: none;
    color: rgb(47, 154, 216);
    font-size: 1rem;
    border-bottom: 1px solid transparent;
    transition: all .2s;
}

a:hover {
    border-bottom: 1px solid rgb(47, 154, 216);
}